#### 011
아래 코드의 실행 결과를 예상하라.
```
a = "3"
b = "4"
print(a + b)
```

In [1]:
# 011
a="3"
b="4"
print(a + b)

34

#### 012
변수 s와 t에는 각각 문자열이 바인딩 되어있다.
```
s = "hello"
t = "python"
```
두 변수를 이용하여 아래와 같이 출력하라.  
```hello! python```

In [2]:
# 012
s = 'hello'
t = 'python'
print(s + '! ' +t)

hello! python

#### 013
아래 코드의 실행 결과를 예상하라.
```
print("Hi" * 3)
```

In [3]:
# 013
print('Hi' * 3)

HiHiHi

#### 014
화면에 '-'를 80개 출력하라.

In [4]:
# 014
print('-' * 80)

--------------------------------------------------------------------------------

#### 015
변수에 다음과 같은 문자열이 바인딩되어있다.
```
t1 = 'python'
t2 = 'java'
```
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력하라.  
```python java python java python java python java```

In [10]:
# 015
t1 = 'python'
t2 = 'java'
print( (t1+ ' ' + t2 + ' ') *4)

python java python java python java python java

#### 016
LG전자 주식을 10주 보유하고 있습니다. 금일 종가 20,000원일 경우 총 평가 금액을 화면에 출력하라.

In [11]:
# 016
ju=10
jong=20000
print(ju*jong)

200000

#### 017
아래 코드의 실행 결과를 예측하라.  
```2 + 2 * 3```

In [12]:
# 017
2+2*3

8

#### 018
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
```
>> a = 128
>> print (type(a))
<class 'int'>
```
아래 변수에 바인딩된 값의 타입을 판별하라.  
``` a = "132"```

In [13]:
# 018
a = "132"
print(type(a))

<class 'str'>

#### 019
문자열 '720'을 정수형으로 변환하라.  
```>> num_str = "720"```

In [17]:
# 019
num_str="720"
int(num_str)

720

#### 020
정수 100을 문자열 '100'으로 변환하라.  
```num = 100```

In [16]:
# 020
num = 100
str(num)

'100'